#label-blog {
    font-size: 1.2em;
}

p {
    white-space: nowrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

#content {
    position: absolute;
    margin-bottom: 300px;
}

html
{
    height: 100%;
}

body {

    position: relative;
}

* {
    margin: 0;
    padding: 0;
}



